<h1>
    Welcome to <span class="StoreName">Poke-Poke</span>!
</h1>
<div class="outer-div">
<ng-container *ngIf="menu">
    <div class="flex-container">
        <div class="inner-div">
	    <h2>
	        Here is our menu:
	    </h2>
	    <ul class="menu-items">
	      <li *ngFor="let menuItem of menuItems">
	        <app-menu-item [menuItemInfo]="menuItem"></app-menu-item>
	      </li>
	    </ul>
	    <pre *ngIf="1==0">{{ menuString }}</pre>
        </div>

        <div class="inner-div">
	    <h2>
	        Here is your cart:
	    </h2>
	    <ul class="menu-items">
	      <li *ngFor="let menuItem of menuItems">
	        <app-menu-item [menuItemInfo]="menuItem"></app-menu-item>
	      </li>
	    </ul>
	    <pre *ngIf="1==0">{{ menuString }}</pre>
        </div>
    </div>
</ng-container>
</div>
