:host {
    font-family: sans-serif;
    font-size: 18px;
}

.outer-div {
    padding: 5em;
}

.inner-div {
    padding-left: 5em;
    padding-right: 5em;
}

h1 {
    text-align: center;
}

.StoreName {
    color: rgb(92,164,153);
}

ul.menu-items {
  list-style-type: none;
  /* display: table; */
  margin: 0;
  padding: 0;
}

ul.menu-items li {
  border: 1px solid rgb(206,206,206);
  padding-left: 0.25em;
  height: 2.0em;
  line-height: 0.25em;
  vertical-align: middle;
  /* display: table-cell; */
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%
    /* flex-wrap: nowrap; */
}

.flex-container>div {
    width: 50%;
    /* border: 1px dotted green; */
}

